/*FEEDBACK DE ANA DA BEST

HOME
- Chronhr (sans HR) partout
- logo en 2 rem
- bebe sous titres en 1 rem
- enlever les AI looking ass titles (c<est pas du caca. c<est du pipi.)
- 2x faster THAN WHAT??? la mm pour le effortless
- in HOW IT WORKS: egaliser les espaces des sections
- enlever bouton How it works en haut

ABOUT
- titre en haut eclate sa race
- arranger la mise en page de premiere section (bit boring)
- changer les boutons pour pas que ca a lair de boutons....
- enlever la ligne apres le 5 possiblement
- les titres AI de merde
- grandeur des ecritures comme dhab
- Ready to see it ~in action~ hell nah change dat shi

MEET THE TEAM
- finir la page sitout

EN GENERAL
- pt les titres du menu plus gros
- voir si bouton devient book a demo au lieu de get started



*/




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
